.counter {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: center;
  margin: 0.9rem;
}
.btn {
  padding: 0.2rem 0.5rem;
  border: none;
  background-color: rgb(235, 235, 235);
  transition: 0.2s;
  border: 1px solid grey;
  cursor: pointer;
}

.btn:active {
  background-color: grey;
}
#btnControl {
  display: none;
}

.plus {
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.minus {
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
